/*#vidWrapper{
  overflow: hidden;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(3px);
  #myVideo {
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}*/
#root{
  height: 100vh;
  /*position: absolute;
  top: 0;
  left: 0;
  z-index: 2;*/
  background-color: #000000;
  #wrapper{
    color: #ffffff;
    font-size: 48px;
    #countdown{
      color: #ff6600;
      font-size: 72px;
    }
  }
}