<!--<div id="vidWrapper">
  <div id="bgVideo">
    <video autoplay muted loop id="myVideo">
      <source src="assets/vid/bg.mp4" type="video/mp4">
    </video>
  </div>
</div>-->
<div id="root" class="d-flex align-items-center justify-content-center">
  <div id="wrapper">
    <div>Witness Sexiness in...</div>
    <div id="countdown">{{message}}</div>
  </div>
</div>